@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Use this area to provide additional information.</p>
<div class="fruitWrapper">
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
    @await Component.InvokeAsync("FruitsBasket")
</div>